.html{
    margin-left:10px; margin-right:10px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
}

.fond{
    font-family: sans-serif;
    padding: 20px;
    background-image: url("https://blog.francetvinfo.fr/bureau-londres/files/2014/09/la-city-600x337.jpg");
    /* propriétés de l'arrière-plan */
    background-color: white;
    background-repeat: no-repeat;
}



.compute {
    border: 1px solid #666;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    width: 120px;
    padding: 5px 10px;

    margin-bottom: 15px;
    background: #cccccc;
}